[Desktop Entry]
Version=0.2
Terminal=false
Icon=/usr/share/antergos/cnchi.png
Type=Application
Exec=sudo python /usr/share/cnchi/cnchi.py
Name=Cnchi
GenericName=Cnchi
Comment=Antergos Graphical Installer

