[Unit]
Description=Light Display Manager
Documentation=man:lightdm(1)
After=systemd-user-sessions.service plymouth-quit.service vboxservice.service livecd.service pacman-init.service

[Service]
PreExecStart=/usr/bin/sleep 3
ExecStart=/usr/bin/lightdm
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager
StartLimitAction=none
RestartSec=1

[Install]
Alias=display-manager.service