[Unit]
Description=Light Display Manager
Documentation=man:lightdm(1)
After=dev-dri-card0.device systemd-user-sessions.service getty@tty1.service plymouth-quit.service vboxservice.service livecd.service pacman-init.service
Wants=dev-dri-card0.device

[Service]
PreExecStart=/usr/bin/sleep 3
ExecStart=/usr/bin/lightdm
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager
StartLimitAction=none
RestartSec=2

[Install]
Alias=display-manager.service