[Unit]
Description=Sync pacman on first boot
After=pacman-init.service NetworkManager-wait-online.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-boot
TimeoutSec=0