[Unit]
Description=Sync pacman on first boot
After=pacman-init.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-boot
TimeoutStartSec=0