[Unit]
Description=Sync pacman on first boot
After=pacman-init.service systemd-user-sessions.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-boot
TimeoutStartSec=0