[submodule "configs/antergos/antergos-gfxboot"]
	path = configs/antergos/antergos-gfxboot
	url = http://github.com/antergos/antergos-gfxboot.git
[submodule "antergos-gfxboot"]
	path = antergos-gfxboot
	url = https://github.com/Antergos/antergos-gfxboot.git
