[Desktop Entry]
Name=Cnchi
GenericName=Cnchi
Comment=Antergos Graphical Installer
Exec=sudo python /usr/share/cnchi/cnchi.py
Icon=/usr/share/antergos/cnchi.png
StartupNotify=true
Type=Application
Categories=GNOME;System;
