; Sections are read in the order given in base::layout, with section 'base'
; implicitly added at the end. If a config value is given more than once,
; the first entry wins.
;
; If a screen resolution can't be set, 640x480 is used as fallback (and
; section '640x480' added to the layout list).
;
; Setting livecd=1 implicitly adds section 'live' to the layout list.
;
; Color values: 24 bit RGB (e.g. 0xff0000 = red).
;

[base]
; theme name
theme=antergos-gfxboot
; product name
product=Antergos
; other sections to read
layout=800x600,live,install
; sound volume (0..100)
volume=70
; menu background transparency (0..255)
menu.transparency=0x0
; default font
font.normal=16x16.fnt
; main menu font
font.large=16x16.fnt
; max. visible main menu items
mainmenu.entries=8
; minimal main menu selection bar width
mainmenu.bar.minwidth=300
; main menu selection bar transparency (0..255)
mainmenu.bar.transparency=0
; main menu colors
mainmenu.bar.color=0x1692d0
mainmenu.normal.fg=0x4c4c4c
mainmenu.selected.fg=0xf6f6f6
; boot option colors
bootopt.label.fg=0x4c4c4c
bootopt.text.fg=0x4c4c4c
; progress bar color
progress.bar.color=0x1692d0
; menu colors
menu.normal.bg=0x4c4c4c
menu.normal.fg=0xf6f6f6
menu.normal.alt.fg=0x1692d0
menu.selected.bg=0x1692d0
menu.selected.fg=0xf6f6f6
; window colors
window.bg=0xc9cacd
window.fg=0x000000
window.title.bg=0x4c4c4c
window.title.fg=0xf6f6f6
window.title.error.bg=0x7a0600
; help system colors
help.link.fg=0x1692d0
help.link.selected.fg=0xfd9f25
help.link.selected.bg=0x1692d0
help.highlight.fg=0x1692d0
; panel colors
panel.fg=0x4c4c4c
panel.title.fg=0x4c4c4c
panel.f-key.fg=0x1692d0
; default keymap (e.g. de-latin1-nodeadkeys or cz-lat2-us)
keymap=
; replace underscores ('_') with space in menu entries
_2space=1

[800x600]
; screen size
screen.size=800,600
; background image
background=back800x600.jpg
; upper left corner, if x = -1, center horizontally
mainmenu.pos=-1,240
; boot option input field position
bootopt.pos=263,480

[640x480]
; screen size
screen.size=640,480
; background image
background=back640x480.jpg
; upper left corner, if x = -1, center horizontally
mainmenu.pos=-1,170
; boot option input field position
bootopt.pos=263,380

[live]
; show welcome animation
welcome=1
; set livecd flag
livecd=1
; main menu items where user can't add boot options
nobootoptions=hdt,memtest
; move down one menu entry the first time an F-key is used
autodown=0
; F-key assignments, see install section for doc
; serial line setup (up to four lines)
; format: port,baud,dev
;   - port: 0-3: first four BIOS serial lines (COM1-COM4); >=4: I/O port (0x3f8)
;   - baud: baud rate (e.g. 115200); 0 = autodetect (considers baud rates >= 9600)
;   - dev: linux device name (e.g. ttyS0)
; - all lines are set up with 8 bits, no parity, 1 stop bit
; - if the bootloader also has a serial line setup, the port is
;   automatically used
serial.line0=0,0,ttyS0
serial.line1=1,0,ttyS1
serial.line2=
serial.line3=
key.F2=lang
key.F3=video
key.F4=kernelopts
key.F5=
key.F6=
key.F7=
key.F8=
key.F11=
key.F12=
; show keymap menu as submenu in lang dialog
keymap.submenu=1
; add 'keytable' option with current keymap
addopt.keytable=1
; add 'lang' option with current locale
addopt.lang=1
; add 'layout' option with current keyboad layout
addopt.layout=1