DEFAULT menu.c32
INCLUDE common.cfg

#MENU TITLE Welcome to Cinnarch

LABEL Cinnarch
MENU LABEL Boot Cinnarch
LINUX /arch/boot/%ARCH%/vmlinuz
INITRD /arch/boot/%ARCH%/archiso.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

MENU SEPARATOR

# http://www.memtest.org/
LABEL memtest
MENU LABEL Run Memtest86+ (RAM test)
LINUX /arch/boot/memtest

# http://hdt-project.org/
LABEL hdt
MENU LABEL Hardware Information (HDT)
COM32 /arch/boot/syslinux/hdt.c32
APPEND modules_alias=/arch/boot/syslinux/hdt/modalias.gz pciids=/arch/boot/syslinux/hdt/pciids.gz

LABEL reboot
MENU LABEL Reboot
COM32 /arch/boot/syslinux/reboot.c32

LABEL poweroff
MENU LABEL Power Off
COMBOOT /arch/boot/syslinux/poweroff.com
